:root{
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5CF6;
    

}






body{
    box-sizing: border-box;
    margin: 0;
    font family: 'fira sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    
}

header{
    font-size: 2.5rem;
    font-size: 300;
    color: var(--gray);
    margin-bottom: 1rem;
    
}

#new-task-form{
    display: flex;

}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color:  #111827;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}
#new-task-input::placeholder{
    color: var(--gray);
}

#new-task-sumbit {
    color: var(--pink);
}
